.dropzone {
  border-style: dashed;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  background-color: #fafafa;
  padding: 20px;
  margin-bottom: 10px;
}

.file {
  /* font-size: 0.75rem; */
  padding-left: 5px;
}
